<div class="flex full-height detail-block">
    <div class="detail-left">
        <section class="project-desc-warp">
            <div class="project-desc">
                <div class="head-panel">
                    <p class="no-margin text-center">
                        <span ng-if="vm.project.created_by" ng-bind="vm.project.created_by.displayName" class="text-capitalize"></span> created this on  <span ng-bind="vm.project.created | date:'mediumDate'"></span>
                    </p>
                </div>
                <ul>
                    <li class="title"><h4><font class="star-mark">*</font>Project name</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <p ng-bind="vm.project.name"></p>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li class="title"><h4>Project description</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <p class="" data-ng-bind-html="vm.project.description"></p>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li class="title"><h4><font class="star-mark">*</font>Project Creator</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <div class="team-list" >
                                <div class="team-block" >
                                    <a href="">
                                        <div class="flex-container">
                                            <div class="flex-column"><img ng-src="/{{vm.project.created_by.profileImageURL}}" width="50" height="50" alt="{{vm.project.created_by.displayName}}" class="img-rounded"></div>
                                            <div class="flex-column team-user text-valing-center">
                                                <div class="user-name"><font>{{vm.project.created_by.displayName}}</font></div>
                                                <div class="user-designation" ><font>{{vm.project.created_by.designation}}</font></div>
                                                <span class="arrow-box"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li class="title"><h4><font class="star-mark">*</font>Project Owners</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <div class="team-list" >
                                <div class="team-block" ng-repeat="project_owner in vm.project.project_owners">
                                    <a href="">
                                        <div class="flex-container">
                                            <div class="flex-column"><img ng-src="/{{project_owner.profileImageURL}}" width="50" height="50" alt="{{vm.project.creat.displayName}}" class="img-rounded"></div>
                                            <div class="flex-column team-user text-valing-center">
                                                <div class="user-name"><font>{{project_owner.displayName}}</font></div>
                                                <div class="user-designation" ><font>{{project_owner.designation}}</font></div>
                                                <span class="arrow-box"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <div class="clearfix"></div>
                <ul>
                    <li class="title"><h4>Team</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <div class="team-list" >
                                <div class="team-block" ng-repeat="team_member in vm.project.team_member" >
                                    <a href="">
                                        <div class="flex-container">
                                            <div class="flex-column"><img ng-src="/{{team_member.profileImageURL}}" width="50" height="50" alt="{{team_member.displayName}}" class="img-rounded"></div>
                                            <div class="flex-column team-user text-valing-center">
                                                <div class="user-name"><font>{{team_member.displayName}}</font></div>
                                                <div class="user-designation" ><font>{{team_member.designation}}</font></div>
                                                <span class="arrow-box"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <ul>
                    <li class="title"><h4>Technology</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <p class="" data-ng-bind="vm.project.technology"></p>
                        </div>
                    </li>
                </ul>
              <div class="clearfix"></div>
                <ul>
                    <li class="title"><h4><font class="star-mark">*</font>Project Files</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <div class="team-list" >
                                <div class="team-block" ng-repeat="file in vm.project.project_files">
                                    <a ng-href="/{{file.url}}" target="_blank">
                                        <div class="flex-container">
                                            <!-- <div class="flex-column"><img ng-src="/{{file.url}}" width="50" height="50" alt="{{file.url}}" class="img-rounded"></div> -->
                                            <div class="flex-column team-user text-valing-center">
                                                <div class="user-name"><font><b>File-Name</b> : {{file.original_name | limitTo : 50 }}</font></div>
                                                <div class="user-name" ><font><b> uploaded by</b> : {{file.upload_by.displayName}}</font></div>
                                                <div class="user-name" ><font><b> file type</b> : {{file.file_type}}</font></div>
                                                <span class="arrow-box"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <ul>
                    <li class="title" ><h4><font class="star-mark">*</font>Start date</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <div>
                                <span ng-bind="vm.project.start_date | date:'fullDate'"></span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="clearfix"></div>

                <ul>
                    <li class="title"><h4><font class="star-mark">*</font>Deadline</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <p class="list-group-item-text"  data-ng-bind="vm.project.deadline | date : 'fullDate'"></p>
                        </div>
                    </li>
                </ul>

                <div class="clearfix"></div>

                <ul>
                    <li class="title"><h4>Phase</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <p class="list-group-item-text"></p>
                            <ul class="phase-list" >
                                <li class="{{vm.project.phase=='Planning' ? 'selected' : ''}}" >Planning</li>
                                <li class="{{vm.project.phase=='Start' ? 'selected' : ''}}" >Start</li>
                                <li class="{{vm.project.phase=='Designing' ? 'selected' : ''}}" >Designing</li>
                                <li class="{{vm.project.phase=='Development' ? 'selected' : ''}}" >Development</li>
                                <li class="{{vm.project.phase=='Testing' ? 'selected' : ''}}" >Testing &amp; Changes</li>
                                <li class="{{vm.project.phase=='Final' ? 'selected' : ''}}" >Final Edits</li>
                                <li class="{{vm.project.phase=='Complete' ? 'selected' : ''}}" >Complete/Launched</li>
                                <li class="{{vm.project.phase=='Launched' ? 'selected' : ''}}" >Launched/FIXES or EDITS</li>
                                <li class="{{vm.project.phase=='Delivered' ? 'selected' : ''}}" >Delivered/Archived</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <ul>
                    <li class="title"><h4> Progress slider</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <div class="progress project-progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.project.progress ? vm.project.progress : 0}}%">
                                </div>
                            </div>
                            <span class="progress-info">{{vm.project.progress ? vm.project.progress : 0}}% Complete</span>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>

                <ul>
                    <li class="title"><h4>Login Creds</h4></li>
                    <li class="desc-frame">
                        <div class="content-frame">
                            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Link with href
                            </a>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Button with data-target
                            </button>
                            <div class="collapse" id="collapseExample">
                                <div class="well">
                                    ...
                                </div>
                            </div>
                            <p data-ng-bind="vm.project.login_creds"></p>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
                  <ul ng-if="vm.authentication.user.roles == 'admin'">
                      <li class="title"><h4>Upload Project Files</h4></li>
                      <li class="desc-frame">
                        <h4>Upload on file select</h4>

                            <button  class="btn btn-success" ngf-select="uploadFiles($files)" multiple
            accept="image/*">Select Files</button>
                            <br>
                            <br><b>Files</b>:
                            <ul>
                                <li ng-repeat="f in files" style="font:smaller">
                                    {{f.name }}
                                </li>
                            </ul>
                            <br>
                          <div>
                            <hr>
                          <span class="progress-upload" ng-show="progress >= 0">
                              <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                          </span>
                          {{errorMsg}}
                        </div>

                      </li>

                  </ul>
                    <div class="clearfix"></div>
            </div>

        </section>
    </div>

<!-- file upload -->

    <!--PROJECT-ACTIVITY-->
    <div class="detail-right">
        <div class="project-activity-warp">
            <div class="project-activity white-bg" >
                <div class="activity-head">
                    <header>Activity</header>
                </div>
                <div class="activity-body">
                    <div class="activity-group flex"  ng-repeat="comment in vm.comments">
                        <div class="avtar flex-column">
                            <img ng-src="/{{comment.user.profileImageURL}}" width="35" height="35">
                        </div>
                        <div class="activity-chat">
                            <div class="user-name">
                                <div><b>{{comment.user.displayName}}</b></div>
                                <span class="date" ng-bind="comment.created | date: 'medium'"></span>
                            </div>
                            <p class="chat-para">
                              {{comment.content}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="activity-footer">
                  <form name="vm.form.commentForm" ng-submit="vm.save(vm.form.commentForm.$valid)" novalidate>
                    <div class="form-group" show-errors>
                        <textarea class="form-control" rows="2" name="content" type="text" ng-model="vm.comment.content" id="content" placeholder="add comment" required></textarea>
                        <div ng-messages="vm.form.commentForm.content.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Comment is required.</p>
                        </div>
                    </div>
                    <div class="pull-left">
                        <div class="extras">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-paperclip" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                      <div class="form-group">
                      <button type="submit"  class="btn btn-sm btn-success">Add</button>
                    </div>
                    <div ng-show="vm.error" class="text-danger">
                      <strong ng-bind="vm.error"></strong>
                    </div>
                  </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- {{vm.project.project_files}} -->
    <!--PROJECT-ACTIVITY END-->
    <div class="row form-group">
      <div class="col-md-1"></div>
      <div class="col-md-6" ng-repeat="project_owner in vm.project.project_owners" >
        <a class="btn btn-success" ng-if="vm.authentication.user.roles == 'admin' || vm.authentication.user.displayName == project_owner.displayName" data-ui-sref="admin.projects.edit({projectId: vm.project._id})">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Edit
        </a>&nbsp;&nbsp;

         <!-- <a ng-show="vm.project._id" class="btn btn-danger" ng-click="vm.remove()">
           <i class="glyphicon glyphicon-trash"></i> Delete
         </a> -->
       </div>
</div>
