<section class="white-bg theme-section">
  <div class="admin-page-head clearfix">
    <h3>User <span ng-bind="vm.user.username"></span></h3>
  </div>
  <div class="row settings-view">
  <div class="col-md-9">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
        <div class="form-group" show-errors>
          <div class="col-md-2"><label class="form-label" for="firstName">First Name</label></div>
          <div class="col-md-6"><input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
          </div>
        <div class="clearfix"></div>
        </div>
        <div class="form-group" show-errors>
          <div class="col-md-2"><label class="form-label" for="lastName">Last Name</label></div>
         <div class="col-md-6"> <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name" required />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
         </div>
         <div class="clearfix"></div>
        </div>
        <div class="form-group" show-errors>
          <div class="col-md-2"><label class="form-label" class="control-label" for="roles">Roles</label></div>
          <div class="col-md-6"> <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">At least one role is required.</p>
            </div>
          </div>
         </div>
         <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div><br>
        <div class="form-group">
         <div class="col-md-2"></div>
         <div class="col-md-6">
          <input type="submit" value="Update" class="btn btn-success">
         </div>
        </div>
    </form>
  </div>
  </div>
</section>
