<section class="white-bg theme-section">
  <div class="admin-page-head clearfix">
        <h3 ng-bind="vm.user.username"></h3>
  </div>

  <div class="settings-view">
    <div class="col-md-3 form-column">
    <div class="text-right">
     <a href="">
      <img src="../../modules/core/client/img/placed.png" class="img-responsive img-thumbnail" width="150">
     </a>
    </div>
  </div>
    <div class="col-md-9">
      <div class="row form-group">
        <div class="col-md-2"><label class="form-tag-label">First Name</label></div>
        <div class="col-md-6"><font class="form-text">{{vm.user.firstName}}</font></div>
      </div>

      <div class="row form-group">
        <div class="col-md-2"><label class="form-tag-label">Last Name</label></div>
        <div class="col-md-6"><font class="form-text">{{vm.user.lastName}}</font></div>
      </div>

      <div class="row form-group">
        <div class="col-md-2"><label class="form-tag-label">Email</label></div>
        <div class="col-md-6"><font class="form-text">{{vm.user.email}}</font></div>
      </div>

      <div class="row form-group">
        <div class="col-md-2"><label class="form-tag-label">Provider</label></div>
        <div class="col-md-6"><font class="form-text">{{vm.user.provider}}</font></div>
      </div>

      <div class="row form-group">
        <div class="col-md-2"><label class="form-tag-label">Created</label></div>
        <div class="col-md-6"><font class="form-text">{{vm.user.created}}</font></div>
      </div>

      <div class="row form-group">
        <div class="col-md-2"><label class="form-tag-label">Roles</label></div>
        <div class="col-md-6" ><font class="form-text" ng-bind="vm.user.roles"> </font></div>
      </div>
      <hr>
      <div class="row form-group">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <a class="btn btn-success btn-sm" ui-sref="admin.user-edit({userId: vm.user._id})">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Edit
          </a>&nbsp;&nbsp;
          <a class="btn btn-danger btn-sm" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()">
           <i class="fa fa-trash-o" aria-hidden="true"></i> &nbsp;Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
