/*
Chapter247 PROJECT MANAGMENT
File - theme.css
Owner - Chapter247
url - www.chapter247.com
*/

/*++++++++++++++++++*/
/*Basic color guide

Header background - : #3f7ca3
Panel background  - : #fff
Heading Text      - : #373c3d
Body Text         - : #3d4246
Para Text         - : #888
Font famly body   - : Roboto:300,400,500,700,900
page Heading      - : #518aaf
border-color      - : #dcdcdc
light Text        - : #888
*/
/*++++++++++++++++++*/
/*============PREDEFINED CLASSES==================*/
/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700'); */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.no-padding{padding:0px;}
.no-padding-left{padding-left: 0px;}
.no-padding-right{padding-right: 0px;}
.no-margin{margin:0px;}
.full-height{height: 100%;}
h1, .h1, h2, .h2, h3, .h3{margin-top: 10px;}
a{color: #3796e8;text-decoration: none;}
a:hover,a:focus,a:active{text-decoration: none;}
.navbar-brand{padding: 10px 15px;}
.white-bg{background-color: #fff;}
.theme-section{padding: 5px 15px 30px;border-radius: 3px;}
.first-capitalize::first-letter{text-transform: capitalize;}
.page-head.head-border{border-bottom: 1px solid #dcdcdc;}

.table-view{display: table;width: 100%;}
.table-view .table-cell{display: table-cell;}
.vertical-top{vertical-align: top;}
.flex{display: -webkit-flex;display: -ms-flexbox;display: flex;display: flex;}
.flex-container{display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.flex-column{display: -webkit-flex;display: -ms-flexbox;display: flex;}
.text-valing-center{justify-content: center;flex-direction: column;}
.center-block{float:none;margin:0 auto;}
.btn{border-radius: 2px;}
.form-control{border-color: #b2b2b2;}
.input-group-btn .btn{border-color: #b2b2b2;}
.form-label{position: relative;top: 5px;float: right;}
.form-text{position: relative;top: 5px;}
.form-tag-label{position: relative;top: 5px;float: left;}
.form-label:after,.form-tag-label:after{content: ':';position: absolute;right: -8px;top:0px;}
.admin-page-head {padding: 10px;border-bottom: 1px solid #dcdcdc;}
.admin-page-head h3{color: #4A87B6;font-size: 18px;margin: 0;}
/*============PREDEFINED CLASSES END==================*/
html,body{height: 100%;color: #373c3d;}
body{font-family: 'Lato';padding-top: 70px;background: #e9e9e9;}
.navbar-inverse{background-color: #3f7ca3;border-color: #086abe;}
.navbar-inverse .navbar-nav > li > a{color: #fff;}
.navbar-inverse .navbar-brand{color: #fff; padding: 2px 10px;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{background-color: #2f5d7a;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color: #2f5d7a;}
.header-navbar .dropdown-menu > li > a{font-weight: 300;font-size: 16px;padding: 3px 15px;}
.top-account-dropdown .user-name-li{font-size: 16px;color: #4A87B6;padding: 6px 15px;text-transform: capitalize;white-space: nowrap;max-width: 195px;overflow:hidden;text-overflow: ellipsis;}
.top-account-dropdown{min-width:200px;}

.page-head h3{color: #4A87B6;padding-bottom: 10px;}
.star-mark{position: relative;top: -2px;left: -2px;color: #ff4545;}
.flex{}
/*===========PROJECT LIST PAGE===================*/
.project-list-block{color: #3d4246;padding: 10px;border-top: 1px solid #dcdcdc;}
.project-list-block .project-list-item{color:rgba(61, 66, 70, 0.7);}
.project-list-block:hover{background-color:#f1f2f3;}
.project-list-block .desc-text{font-size: 13px;line-height: 18px;}
.project-list-block h4{color: #3f7ca3;text-transform: capitalize;font-size: 16px;font-weight: 600;}
.project-list-block .date-info{color: #888;font-size: 11px;}
.project-list-block .date-info .fa{position: relative;top: -1px;}

/*============PROJECT DESCRIPTION==========*/
.detail-block .detail-left{flex: 1 1 auto;padding: 0px 20px 0px 0px;}
.detail-block .detail-right{flex: 1 0 380px;overflow: auto;position: relative;}
.project-desc-warp{background-color: #f6f6f6;margin-bottom: 20px;}
.project-desc ul{padding-left: 0px;float: left;width: 100%;margin-bottom: 0px;}
.project-desc ul li{list-style: none;cursor: pointer;}
.project-desc ul li.title{width: 22%;padding: 15px 10px 10px 0;float: left;display: block;}
.project-desc ul li.desc-frame{width: 78%;background-color: #fff;padding: 15px 15px;border-left: 1px solid #dcdcdc;display: block;float: left;word-wrap: break-word;}
.project-desc .title h4{font-size: 16px;font-size: 13px;font-weight: 700;text-align: right;margin: 0px;}
.project-activity{background-color: #fff;position: relative;height: 80%;padding-top: 50px;padding-bottom: 122px;}
.project-activity .activity-head{padding: 10px;background: #f6f6f6;border-bottom: 1px solid #dcdcdc;color: #4A87B6;font-size: 16px;    position: absolute;width: 100%;top: 0;}
.project-activity .activity-body{max-height: 100%;overflow-y: auto;overflow-x: hidden;word-wrap: break-word;flex: 1 1 auto;padding: 10px;}
.project-activity .activity-footer{position: absolute;bottom: 0px;background-color: #f6f6f6;padding: 10px 5px;width: 100%;border-top: 1px solid #dcdcdc;}
.project-activity .activity-footer .list-inline{margin-left: 0px;}
.project-activity .activity-footer .list-inline a{color:#3d4246;font-size: 16px;}
.project-activity-warp{position: fixed;width: 380px;height: 100%;top: 70px;}
.activity-group{padding-bottom: 24px;padding-top: 15px;}.activity-chat{padding-left: 15px;font-size: 13px;}
.activity-chat .user-name{margin-bottom: 5px;position: relative;}
.activity-chat .user-name div{max-width: 75%;word-wrap: break-word;}
.activity-chat .user-name .date{position: absolute;right: 0;top: 0;color: #888;font-size: 11px;}
.activity-chat .chat-para{color: #6e7b82;word-wrap: break-word;}
.project-progress{height: 25px;}
.project-desc .head-panel{padding: 10px;color: #999;border-bottom: 1px solid #dcdcdc;}
.project-desc .admin-head-panel .heading{font-size: 16px;color: #4A87B6;font-weight: 600;padding-left: 15px;}
.project-desc .admin-head-panel .date{font-size: 12px;margin-left: 10px;}
.project-desc .progress-info{position: absolute;font-size: 11px;top: 30px;color: #888;font-weight: 600;}

.content-frame{position: relative;}.content-frame p{font-size: 13px;line-height: 20px;}
.phase-list li{display: inline-block;padding: 5px 10px;background: #edeff1;margin: 0 8px 9px 0;color: #929a9f;}
.phase-list li.selected{background-color: #DCEBD8;color: #5a924b;}
.progress-box {
 width: 100%;
}

.progress-box .percentage-cur .num {
 margin-right: 5px;
}

.progress-box .progress-bar {
 width: 100%;
 height: 12px;
 background: #f2f1f1;
 margin-bottom: 3px;
 border: 1px solid #dfdfdf;
 box-shadow: 0 0 2px #D5D4D4 inset;
 position: relative;
}

.progress-box .progress-bar .inner {
 position: relative;
 width: 0;
 height:100%;
 background: #239bd6;
}

.progress-bar .inner {
 height: 0;
 width: 0;
 transition: all 1s ease-out;
}

.progress-bar-slider .inner {
 transition: none;
}

.progress-bar-slider .inner:after {
 content: " ";
 width: 5px;
 height: 14px;;
 background-color:#ccc;
 position: absolute;
 right: -2px;
 top: -2px;
 border: 1px solid #bbb;
 border-radius: 2px;
 box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
 margin: 0px;
}

.progress-slider {
 opacity: 0;
 width: 100%;
 height: 15px;
 position: absolute;
 top: 0px;
 left: 0px;
 cursor: pointer;
 z-index: 1;
}


.team-block{padding: 5px 5px 5px;border: 1px solid #e9e9e9;background: #f6f6f6;margin-bottom: 5px;}
.team-block a{color:#3d4246;}
.team-user{padding-left: 10px;position: relative;flex: 1;}
.team-block .user-name{}
.team-block .user-designation{font-size: 13px;color: #888;margin-top: 5px;}
.team-block .close{position: absolute;right: 0;}
.team-block .arrow-box{position: absolute;right: -5px;height: 62px;display: inline-block;vertical-align: middle;width: 25px;text-align: center;color: #999;font-size: 20px;padding-top: 15px;}
.team-block:hover .arrow-box{background: #3f7ca3;color:#fff;transition: all ease 0.5s;}
/*===============Account setting section============*/
.settings-view{min-height: 400px;padding-top: 50px;}
.page-column{padding-top: 45px;}
.setting-nav{border-bottom: 1px solid #dcdcdc;}
.setting-nav .nav > li.active a{color: #fff;background-color: #607D8B;}
.setting-nav .nav > li a{color: #373c3d;font-size: 16px;font-weight: 300;border-radius: 0px;padding-left: 20px;}
.setting-nav .nav > li a.heading{color: #4A87B6;}
.setting-nav .nav > li a .icon {position: absolute;left: 5px;}
.column-head{padding: 10px;margin-bottom: 30px;font-weight: 300;background: #f6f6f6;}
.page-label-head{margin-top: 0px;margin-bottom: 30px;font-weight: 300;}

/*==================Admin section users===============*/
.search-block{position: relative;}
.search-block .search-icon{position: absolute;right: 0;top: 0;font-size: 18px;display: inline-block;width: 34px;height: 34px;padding: 4px 0;text-align: center;}
.page-head .search-block{top: 8px;}
.user-role{float: right;min-width: 60px;}
