<div class="row">
<div class="col-md-8">
<section class="project-desc-warp">
<div class="project-desc">
  <div class="head-panel admin-head-panel">
    <span class="no-margin pull-left heading">{{vm.project._id ? 'Edit Project' : 'New Project'}}</span>
    <span class="pull-right no-margin">
    <span><a ng-show="vm.project._id" class="btn btn-danger btn-xs" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> &nbsp;Delete
    </a></span><span class="date"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 02-05-2017  </span>
    </span>
    <div class="clearfix"></div>
  </div>
    <form name="vm.form.projectForm" class="form-horizontal" ng-submit="vm.save(vm.form.projectForm.$valid)" novalidate>
      <ul >
       <li class="title"><h4><font class="star-mark">*</font>Project Name </h4></li>
       <li class="desc-frame">
          <input name="name" type="text" ng-model="vm.project.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.projectForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project name is required.</p>
          </div>
       </li>
      </ul>

      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4><font class="star-mark">*</font>Project Description</h4></li>
        <li class="desc-frame">
          <textarea name="description" ng-model="vm.project.description" id="description" class="form-control" cols="20" rows="3" placeholder="description" required="true"></textarea>
          <div ng-messages="vm.form.projectForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project Description is required.</p>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>

      <ul>
        <li class="title"><h4>Team</h4></li>
        <li class="desc-frame">
          <div class="content-frame">
            <input name="team_member" type="text"  id="team_member" class="form-control" placeholder="+ Add team" ng-model="vm.project.team_member" >

           <div class="clearfix"></div><br>
           <div class="team-list">
             <div class="team-block">
             <a href="">
              <div class="flex-container">
               <div class="flex-column"><img src="../core/client/img/user-default.png" width="30" height="30"></div>
               <div class="flex-column team-user text-valing-center">
                <font>{{vm.project.team_member[0].displayName}}</font>
                <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
               </div>
              </div>
             </a>
             </div>
             <div class="team-block">
             <a href="">
              <div class="flex-container">
               <div class="flex-column"><img src="../core/client/img/user-default.png" width="30" height="30"></div>
               <div class="flex-column team-user text-valing-center">
                <font>Chapter247 Developer</font>
                <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
               </div>
              </div>
             </a>
             </div>
             <div class="team-block">
             <a href="">
              <div class="flex-container">
               <div class="flex-column"><img src="../core/client/img/user-default.png" width="30" height="30"></div>
               <div class="flex-column team-user text-valing-center">
                <font>Chapter247 Developer</font>
                <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
               </div>
              </div>
             </a>
             </div>
           </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Start</h4></li>
        <li class="desc-frame">
          <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.project.start_date" data-ng-value="vm.project.start_date | date : 'longDate'" is-open="popup1.opened" id="start_date"datepicker-options="dateOptions" ng-required="true" alt-input-formats="altInputFormats" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Deadline</h4></li>
        <li class="desc-frame">
          <div class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.project.deadline" data-ng-value="vm.project.deadline | date : 'longDate'" is-open="popup2.opened" id="deadline"datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Technology</h4></li>
        <li class="desc-frame">
          <multiselect ng-model="vm.project.technology" id="technology" options="option" show-search="true">
          </multiselect>
          <div ng-messages="vm.form.projectForm.technolgy.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project technology is required.</p>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
       <li class="title"><h4>Phase</h4></li>
       <li class="desc-frame">
          <div class="content-frame">
           <p class="list-group-item-text" ></p>
            <ul class="phase-list" ng-model="vm.project.phase">
              <li class="{{vm.project.phase=='Planning' ? 'selected' : ''}}" ng-click="phashChange('Planning')" >Planning</li>
              <li class="{{vm.project.phase=='Start' ? 'selected' : ''}}" ng-click="phashChange('Start')" >Start</li>
              <li class="{{vm.project.phase=='Designing' ? 'selected' : ''}}" ng-click="phashChange('Designing')" >Designing</li>
              <li class="{{vm.project.phase=='Development' ? 'selected' : ''}}" ng-click="phashChange('Development')" >Development</li>
              <li class="{{vm.project.phase=='Testing' ? 'selected' : ''}}" ng-click="phashChange('Testing')" >Testing &amp; Changes</li>
              <li class="{{vm.project.phase=='Final' ? 'selected' : ''}}" ng-click="phashChange('Final')" >Final Edits</li>
              <li class="{{vm.project.phase=='Complete' ? 'selected' : ''}}" ng-click="phashChange('Complete')" >Complete/Launched</li>
              <li class="{{vm.project.phase=='Launched' ? 'selected' : ''}}" ng-click="phashChange('Launched')" >Launched/FIXES or EDITS</li>
              <li class="{{vm.project.phase=='Delivered' ? 'selected' : ''}}" ng-click="phashChange('Delivered')" >Delivered/Archived</li>
            </ul>
          </div>
       </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
       <li class="title"><h4> Progress slider</h4></li>
       <li class="desc-frame">
          <div class="content-frame">
           <div class="progress project-progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            </div>
           </div>
           <span class="progress-info">40% Complete</span>
          </div>
       </li>
      </ul>
      <div class="clearfix"></div>

      <ul>
       <li class="title"><h4>Login Creds</h4></li>
       <li class="desc-frame">
          <textarea name="description"  id="" ng-model="vm.project.login_creds" class="form-control" cols="20" rows="3" placeholder="details" required="true"></textarea>
       </li>
      </ul>
      <div class="clearfix"></div>

      <div class="text-center">
          <button type="submit" class="btn btn-success">{{vm.project._id ? 'Update project' : 'Create project'}}</button>
      </div>
      <div class="clearfix"></div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      <div class="clearfix"></div>
      <br>
    </form>

</div>
</section>
<div class="clearfix"></div>
</div>
</div>
