<div class="row">
<div class="col-md-8">
<section class="project-desc-warp">
<div class="project-desc">
  <div class="head-panel admin-head-panel">
    <span class="no-margin pull-left heading">{{vm.project._id ? 'Edit Project' : 'New Project'}}</span>
    <span class="pull-right no-margin">
    <span><a ng-show="vm.project._id && vm.authentication.user.roles == 'admin' " class="btn btn-danger btn-xs" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> &nbsp;Delete
    </a></span><span class="date"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 02-05-2017  </span>
    </span>
    <div class="clearfix"></div>
  </div>
    <form name="vm.form.projectForm" class="form-group" show-errors>
      <ul>
       <li class="title"><h4><font class="star-mark">*</font>Project Name </h4></li>
       <li class="desc-frame">
          <input name="name" type="text" ng-model="vm.project.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.projectForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project name is required.</p>
          </div>
       </li>
      </ul>
 <script type="text/ng-template" id="my-custom-template">
  <div class="right-panel">
    <span ng-bind-html="$highlight($getDisplayText())"></span>
    <span>({{data.designation}})</span>
    <span>{{data.skills}}</span>
  </div>
</script>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4><font class="star-mark">*</font>Project Description</h4></li>
        <li class="desc-frame">
          <div text-angular ng-model="vm.project.description" ta-toolbar="[['h2', 'quote'],['bold','italics','underline'],['insertLink', 'insertVideo']]" ></div>
          <div ng-messages="vm.form.projectForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project Description is required.</p>
          </div>
        </li>
      </ul>
  <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Owners</h4></li>
        <li class="desc-frame">
          <div class="content-frame">
            <tags-input ng-model="vm.project.project_owners" display-property="displayName" add-from-autocomplete-only="true" add-on-enter="false" placeholder="Add Project Owners" replace-spaces-with-dashes="false">
               <auto-complete source="loadUsers($query)"
                              min-length="0"
                              load-on-focus="true"
                              load-on-empty="true"
                              max-results-to-show="32"
                              template="my-custom-template"></auto-complete>
             </tags-input>
           <div class="clearfix"></div><br>
           <div class="team-list">
           </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Team</h4></li>
        <li class="desc-frame">
          <div class="content-frame">
            <tags-input ng-model="vm.project.team_member" display-property="displayName" add-from-autocomplete-only="true" add-on-enter="false" placeholder="Add a User" replace-spaces-with-dashes="false">
               <auto-complete source="loadUsers($query)"
                              min-length="0"
                              load-on-focus="true"
                              load-on-empty="true"
                              max-results-to-show="32"
                              template="my-custom-template"></auto-complete>
             </tags-input>
           <div class="clearfix"></div><br>
           <div class="team-list">
           </div>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Start</h4></li>
        <li class="desc-frame">
        <datepicker date-format="fullDate" date-set={{vm.project.start_date}} selector="form-control" >
            <div class="input-group">
                <input ng-model="vm.project.start_date" class="form-control" placeholder="Choose a date"/>
                <span class="input-group-addon" style="cursor: pointer">
                <i class="fa fa-lg fa-calendar"></i>
                </span>
            </div>
        </datepicker>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Deadline</h4></li>
        <li class="desc-frame">
          <datepicker date-format="fullDate" date-set={{vm.project.deadline}} selector="form-control">
              <div class="input-group">
                  <input ng-model="vm.project.deadline" class="form-control" placeholder="Choose a date"/>
                  <span class="input-group-addon" style="cursor: pointer">
                  <i class="fa fa-lg fa-calendar"></i>
                  </span>
              </div>
          </datepicker>

        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4>Project Technology</h4></li>
        <li class="desc-frame">
          <multiselect ng-model="vm.project.technology" id="technology" options="option" show-search="true">
          </multiselect>
          <div ng-messages="vm.form.projectForm.technolgy.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Project technology is required.</p>
          </div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
       <li class="title"><h4>Phase</h4></li>
       <li class="desc-frame">
          <div class="content-frame">
           <p class="list-group-item-text" ></p>
            <ul class="phase-list" ng-model="vm.project.phase">
              <li class="{{vm.project.phase=='Planning' ? 'selected' : ''}}" ng-click="phashChange('Planning')" >Planning</li>
              <li class="{{vm.project.phase=='Start' ? 'selected' : ''}}" ng-click="phashChange('Start')" >Start</li>
              <li class="{{vm.project.phase=='Designing' ? 'selected' : ''}}" ng-click="phashChange('Designing')" >Designing</li>
              <li class="{{vm.project.phase=='Development' ? 'selected' : ''}}" ng-click="phashChange('Development')" >Development</li>
              <li class="{{vm.project.phase=='Testing' ? 'selected' : ''}}" ng-click="phashChange('Testing')" >Testing &amp; Changes</li>
              <li class="{{vm.project.phase=='Final' ? 'selected' : ''}}" ng-click="phashChange('Final')" >Final Edits</li>
              <li class="{{vm.project.phase=='Complete' ? 'selected' : ''}}" ng-click="phashChange('Complete')" >Complete/Launched</li>
              <li class="{{vm.project.phase=='Launched' ? 'selected' : ''}}" ng-click="phashChange('Launched')" >Launched/FIXES or EDITS</li>
              <li class="{{vm.project.phase=='Delivered' ? 'selected' : ''}}" ng-click="phashChange('Delivered')" >Delivered/Archived</li>
            </ul>
          </div>
       </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4> Progress slider</h4></li>
       <li class="desc-frame">
        <div class="progress-box" >
          <div class="progress-bar progress-bar-slider">
            <input class="progress-slider" type="range" min="0" max="100" ng-model="vm.project.progress">
            <div class="inner" ng-style="{ width: vm.project.progress + '%' || '0%' }"></div>
          </div>
          <br>
          <div class="percentage-cur" ng-init="vm.project.progress=vm.project.progress ? vm.project.progress : 0">
            <span class="num" ng-model="vm.project.progress">{{ vm.project.progress }}%</span>
          </div>
        </div>
       </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
        <li class="title"><h4><font class="star-mark">*</font>Important Links</h4></li>
        <li class="desc-frame">
          <div text-angular ng-model="vm.project.important_link" ta-toolbar="[['insertLink']]" ng-cols="20" ng-rows="3"></div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <ul>
       <li class="title"><h4>Login Creds</h4></li>
       <li class="desc-frame">
          <textarea name="description"  id="" ng-model="vm.project.login_creds" class="form-control" cols="20" rows="3" placeholder="details" required="true"></textarea>
       </li>
      </ul>
      <div class="clearfix"></div>

      <div class="text-center">
          <button type="button" class="btn btn-success" ng-click="vm.save(vm.form.projectForm.$valid)" novalidate>{{vm.project._id ? 'Update project' : 'Create project'}}</button>
      </div>
      <div class="clearfix"></div>
      <br>
    </form>

</div>
</section>
<div class="clearfix"></div>
</div>
</div>
