<section class="white-bg theme-section">
<!--   <div class="page-head head-border">
    <h3>Settings</h3>
  </div> -->
  <div class="row">
   <div class="">
    <div class="col-sm-12 col-md-12">
     <div class="setting-nav">
      <ul class="nav nav-pills">
        <li><a href="#" class="heading"><b>Settings</b></a></li>
        <li ui-sref-active="active">
          <a ui-sref="settings.profile">Edit Profile</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture">Change Profile Picture</a>
        </li>
        <li ui-sref-active="active" ng-show="vm.user.provider === 'local'">
          <a ui-sref="settings.password">Change Password</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.accounts">Manage Social Accounts</a>
        </li>
      </ul>
     </div>
    </div>
    <div class="col-sm-12 col-md-12 settings-view" >
      <div ui-view></div>
    </div>
   </div>
  </div>
</section>
